* {
  font-family: "Georgia";
  box-sizing: border-box;
  margin: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Georgia";
  color: black;
  background-color: whitesmoke;
  box-sizing: border-box;
  flex-direction: column;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #dddddd;
  color: black;
}

.topnav .search-container {
  float: right;
}

.topnav input {
  padding: 7.5px;
  margin-top: 7.5px;
  font-size: 16px;
  border: none;
}

.topnav .search-container button {
  float: right;
  border: none;
  padding: 7px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: corn;
  font-size: 17px;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: lightgrey;
}

.navright {
  overflow: hidden;
}

.navright a {
  display: block;
  float: right;
  color: black;
  padding: 7.5px 12.5px;
  text-decoration: none;
  font-size: 15px;
}

.navright a:hover {
  background-color: #ddd;
  color: black;
}

.navright a.active {
  background-color: #2196f3;
  color: white;
}

.hero {
  margin: 0;
}

.homepic_half {
  display: flex;
  width: 50%;
  height: calc(100vh - 156px);
}

.homepic_half_woman {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./homepics/woman.jpg");
  background-position: right;
}

.homepic_half_man {
  background-repeat: no-repeat;
  background-image: url("./homepics/man.jpg");
  background-position: left;
  background-size: cover;
}

.homepic_button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin: auto;
  letter-spacing: 4px;
  background: #6969699a;
  color: whitesmoke;
}

#herobutton {
  color: white;
  text-align: center;
  padding: 19px 23px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 8px;
}

#herobutton:hover {
  background-color: cornsilk;
  color: black;
}

.container {
  display: flex;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: inherit;
  align-items: stretch;
  width: 100% !important;
  padding: 0;
}

.col {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
}

.col.qtr {
  width: 25%;
}

.col.onethird {
  width: 33%;
}

.col.halfwid {
  width: 50%;
}

.col.full {
  width: 100%;
}

.footer {
  line-height: 1em;
  padding: 1.5rem 0;
  background: black;
  color: #cccccc;
  margin-top: 3rem;
}

.footer_cr {
  font-size: 0.875rem;
  justify-self: flex-end;
  flex: 1;
  text-align: center;
}

.contact {
  margin: 3rem 0;
  padding: 2rem 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.tablerow {
  box-shadow: 0 0.8px 0 0 grey;
}

.tablerow th,
.tablerow td {
  padding: 0.8rem 0.6rem;
  text-align: left;
}

/* button style for index page */

.buttontext {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.1s ease-out;
}

.buttontext:hover {
  text-decoration: none;
  color: #678;
}

section input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
  font-size: 105%;
  width: 100% !important;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  resize: vertical;
}

.submitbutton {
  display: block;
  width: 100%;
  border: none;
  background-color: grey;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.submitbutton:hover {
  background-color: darkgray;
  color: black;
}

.resetbutton {
  display: block;
  width: 100%;
  border: none;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.logout span {
  overflow: hidden;
  display: block;
  float: right;
  color: black;
  padding: 7.5px 12.5px;
  text-decoration: none;
  font-size: 15px;
}

.label-filter {
  cursor: pointer;
  display: block;
  padding-left: 1.48em;
  text-indent: -1.47em;
}

.label-filter:not(:nth-last-of-type(1)) {
  margin-bottom: 6px;
}

.card--label {
  position: absolute;
  display: block;
  bottom: 0;
}

.card--color--black {
  background: black;
}

.card--color--white {
  background: rgb(231, 231, 231);
}

.card--color--orange {
  background: #f59f00;
}

.card--color--yellow {
  background: #fffb00;
}

.card--color--brown {
  background: rgb(190, 133, 0);
}

.card--color--blue {
  background: #00458a;
}

.card--color--pink {
  background: pink;
}

.card--image img {
  width: 100%;
}

.card--name {
  overflow: hidden;
}

.card--name a {
  text-decoration: none;
  color: #001122;
  font-size: 120%;
  margin-bottom: 2px;
}

.card--price {
  margin-bottom: 12px;
  align-items: center;
}

.card--price--current {
  color: #666666;
}

.card--color {
  flex-wrap: wrap;
}

.card--color * {
  border: none;
  border-radius: 1.96px;
  width: 1.64rem;
  height: 0.61rem;
  margin-bottom: 0.24rem;
  margin-right: 0.05rem;
  cursor: pointer;
}

.product-img-thumb {
  margin-bottom: 0.5rem;
  cursor: pointer;
  display: flex;
}

.cart-thumbnail {
  width: 64px;
  display: block;
}